<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <!--This is where we set our seo meta tags - note content can be controlled through seo instance variable-->
  <meta name="keywords" content=<%= @seo_keywords %> />

  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!--<p class="notice">%= notice %></p>-->
<!--<p class="alert">%= alert %></p>-->
<%= render 'portfolio_nav' %>


<% login_helper %>

<%= yield %>

<!--%= render "shared/application_nav" %>-->

<%= render 'portfolios/portfolio_footer' %>
<%= source_helper("application") %>
</body>
</html>
